@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.story-video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    position: relative;
    padding-top: 56.25%; /*aspect ratio*/
    width: 100%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    padding: 5px;
  }

  /* stories */
.story-card {
    background-image: linear-gradient(45deg, #FFD700, #FFA500);
  }
  
  .story-card.viewing {
    background-image: none;
    background-color: #f0f0f0;
  }
  

  